input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional: You can also adjust the margin to control the spacing */
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
